@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.hero {
  margin-top: 320px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  scroll-behavior: smooth;
}
.hero h1 {
  font-size: 72px;
  font-weight: 500;
  line-height: 72px;
}
.hero h6 {
  font-size: 19px;
  font-weight: 400;
  line-height: 29px;
  margin-top: 10px;
}
.hero .firstVideo {
  width: 60%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
  margin-top: 60px;
}
.hero .pin-heading {
  margin-top: -105;
}
.main cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  pointer-events: none;
  z-index: 9999;
}
